*{
    margin: 0;
    padding: 0;

}

#nav-bar{
    position: sticky;
    
    top: 0;
    z-index: 10;
    position: right;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff !important;
}
.navbar{
    background: #45255a;
    
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
#slider{
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color: red;
    font-size: 42px;
   
    
}

#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 20px;
}

.rate p{
    margin-bottom: 6px;
    font-weight: 600;
}
.product-rate{
    border-radius: 16px;

}
.btn{
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px;
    margin-bottom: 20px;
}


#services{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/scott-graham-5fNmWej4tAA-unsplash.jpg);
background: #54255a;
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
    
}
#services h1 ::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .co-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
